<div class="container my-3">
  <h1>All lenses you can find 👇</h1>
    <% @lens.each do |len| %>
      <hr>
        <h5><strong><%= len.brand %></strong></h5>
        <p>Model: <%= len.model %></p>
        <p>Description</p>
        <ul>
          <% len.description.each do |description_item| %>
            <li><%= description_item %></li>
          <% end %>
        </ul>
        <%= link_to "View listings", len_listings_path(len.id) %>
    <% end %>
</div>
